.site-content {
    padding-top: $--content-padding-top-shop !important;
}
.kumo__shop {
    &__container {
        max-width: 1140px;
        margin: 0 auto;
        gap: $--row-gap $--column-gap;

        .theme-shop-header {
            height: 460px;
            position: relative;
            background-size: cover !important;
            background-position: center !important;

            &-overlay {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%);
                text-shadow: 2px 2px 40px black;
            }
        }

        .woocommerce-breadcrumb {
            color: $--e-global-color-accent;
            margin-top: 20px;

            a {
                color: $--e-global-color-accent;
            }
        }

        .woocommerce-pagination {
            .page-numbers {
                border: 1px solid $--e-global-color-text;

                li {
                    border: 1px solid $--e-global-color-text;
                }

                span {
                    &.current {
                        background: $--e-global-color-secondary;
                    }
                }
            }
        }
    }
}
